nav, header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}


nav a, header a{
    color: #8c8c8c;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
    font-size: 100%;
}

h1{
    position: absolute;
    font-size: 30px;
    top: -2.4%;
    font-family: Poppins;
}

h1 a{
    text-decoration: none;
    color: black;
}

hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
}

a{
    color: #8c8c8c;
    text-decoration: none;
}
.searcher_header{
    float: left;
    margin: 0;
}

.aside-top a {
    margin-left: 60px;
    margin-top: -35px;
    font-size: 130%;
    color: #8c8c8c;
    display: block;
    text-align: left;
    text-decoration: none;
}


.profile_picture{
    border-radius: 50%
}


.aside-left{
    height: 100%;
    width: 100px;
}

.aside-left a {
    padding: 6px 16px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    text-align: left;
}


.data{
    margin-top: 0.3%;
}

.edit_profile_picture{
    margin-left: 40%;
}

input[type=text], input[type=email], input[type=password]{
    width: 30%;
   background: #2c2c2c;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #222222;
    margin-right: 2%;
    height: 20px;
    color: #8c8c8c;
}

input[type=submit] {
    background-color: #000e2e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}

footer{
    width: 99%;
    bottom: 0;
    position: fixed;
}

body{
    /* Background pattern from Toptal Subtle Patterns */
    background-image:url("../img/dark-honeycomb.png");
    max-width: 50%;
    margin-left: 25%;
}