nav, header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}


nav a, header a{
    color: #8c8c8c;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
    font-size: 100%;
}

header input[type=submit]{
    background: #222222;
    padding: 5px 7px;
    border: 0;
    text-align: center;
    color: #8c8c8c;
}

h1{
    position: absolute;
    font-size: 28px;
    top: -3.5%;
    font-family: Poppins;
}

h1 a{
    text-decoration: none;
    color: black;
}

hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
}

a{
    color: #8c8c8c;
    text-decoration: none;
}

.searcher_header{
    float: left;
    margin: 0;
}

.searcher_header_input{
    width: 69.8%;
    background: #2c2c2c;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #222222;
    margin-right: 2%;
    height: 20px;
    color: #8c8c8c;
}
header::placeholder{
    color: white;
}

body{
    /* Background pattern from Toptal Subtle Patterns */
    background-image:url("../img/dark-honeycomb.png");
}

.data{
    float: right;
    margin-right: 15%;
}

.media_entry{
    height: 230px;
}


.aside-top a {
    margin-left: 60px;
    margin-top: -35px;
    font-size: 130%;
    color: #8c8c8c;
    display: block;
    text-align: left;
    text-decoration: none;
}

.aside-bottom{
    width: 250px;
}

.aside-bottom a {
    padding: 6px 16px 10px 16px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    border-bottom: 1px black;
    text-align: left;
}

main{
    margin-left: 300px;
    position: absolute;
}


.profile_picture{
    border-radius: 50%
}

footer{
    width: 99%;
    bottom: 0;
    position: fixed;
}