.h2{
    text-align: center;
}

body{
    float: right;
    margin-right: 43%;
    margin-top: 5%;
    background-image:url("../img/dark-honeycomb.png");
    width: 15%;
}

input{
    background: #2c2c2c;
    width: 100%;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #222222;
    height: 22px;
    color: #8c8c8c;
}

.body::placeholder{
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

input[type=submit] {
    background-color: #222222;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    height: 35px;
}