nav, header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}


nav a, header a{
    color: #8c8c8c;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
    font-size: 100%;
}

header input[type=submit]{
    background: #222222;
    padding: 5px 7px;
    border: 0;
    text-align: center;
    color: #8c8c8c;
}

h1{
    position: absolute;
    font-size: 30px;
    top: -3%;
    font-family: Poppins;
}

h1 a{
    text-decoration: none;
    color: black;
}
body{
    /* Background pattern from Toptal Subtle Patterns */
    background-image:url("../img/dark-honeycomb.png");
}

.login {
    margin-left: 60%;
}

hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
}

a{
    color: #8c8c8c;
    text-decoration: none;
}
.errors_login{
    position: absolute;
    margin-top: 0.07%;
}

.completed{
    position: absolute;
    margin-top: 0.07%;
}

.header_input{
    width: 29%;
   background: #2c2c2c;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #222222;
    margin-right: 2%;
    height: 20px;
color: #8c8c8c;
}

.login label{
    margin-left: 1%;
}

.signin h2{
    text-align: center;
}

.signin{
    margin-top: 3%;
    float: right;
    margin-right: 17%;
    width: 15%;
}

.input_signin{
    width: 100%;
   background: #2c2c2c;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #222222;
    margin-right: 2%;
height: 20px;
color: #8c8c8c;
    height: 20px;
}

.vl{
    border-left: 1px solid black;
    height: 91%;
    left: 50%;
    position: absolute;
}

.description{
    float: left;
    margin-top: 7%;
    margin-left: 15%;
    max-width: 300px;
}



input[type=submit] a {
    background-color: #000e2e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}

footer{
    width: 99%;
    bottom: 0;
    position: fixed;
}









